<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781003681698-atckgfvcgosfvtn7jn4sd3f0cl9avil6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781003681698-atckgfvcgosfvtn7jn4sd3f0cl9avil6</string>
	<key>API_KEY</key>
	<string>AIzaSyCZVB_5URiTSChGDVGWEARF08nS_YrqxsE</string>
	<key>GCM_SENDER_ID</key>
	<string>781003681698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thefiltitoff.WorkoutDemo</string>
	<key>PROJECT_ID</key>
	<string>arworkouts-3435a</string>
	<key>STORAGE_BUCKET</key>
	<string>arworkouts-3435a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781003681698:ios:21cc075c15e6cc52bfccfb</string>
</dict>
</plist>